<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edu Manage for Senate</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/css-main.css" rel="stylesheet">
  <script>
    function validate() {
      var user_pw = document.join.user_pw;
      var user_pw_ck = document.join.user_pw_ck;
      if (user_pw.value != user_pw_ck.value) {
        window.alert("Incorrect Password");
        document.join.user_pw.focus();
        return false;
      }
      alert("Successfully Edit Your Profile!");
    }
  </script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <% include ./sidebar %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <% include ./topbar %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Edit Profile</h1>
                    </div>

                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-lg-8">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-body">
                                    <div class="modal-body">
                                        <form id="sub" name="join" onsubmit="return validate()" method="post"
                                            action="/profile">

                                            <div class="dropdown-header"
                                                style="padding-left:0px; color:#C5C5C5; font-size:13px; margin-bottom:5px;">
                                                Personal Information</div>

                                            <h6>Phone number [Ex. 012-345-678]</h6>
                                            <div class="form-group">
                                                <input placeholder="Saved Info" class="form-control" type="text"
                                                    name="user_phone" value="<%=userInfo.user_phone%>" required>
                                            </div>

                                            <div class="dropdown-divider"
                                                style="border-color:#C5C5C5; margin-top:20px; margin-bottom:10px;">
                                            </div>
                                            <div class="dropdown-header"
                                                style="padding-left:0px; color:#C5C5C5; font-size:13px; margin-bottom:5px;">
                                                Office Information</div>

                                            <h6>Position</h6>
                                            <div class="form-group">
                                                <input placeholder="Saved Info" class="form-control" type="text"
                                                    name="user_position" value="<%=userInfo.user_position%>" required>
                                            </div>

                                            <h6>Department</h6>
                                            <div class="form-group">
                                                <input placeholder="Saved Info" class="form-control" type="text"
                                                    name="user_part" value="<%=userInfo.user_part%>" required>
                                            </div>

                                            <h6>Office ID</h6>
                                            <div class="form-group">
                                                <input placeholder="Saved Info" class="form-control" type="text"
                                                    name="user_offid" value="<%=userInfo.user_offid%>" required>
                                            </div>

                                            <div class="dropdown-divider"
                                                style="border-color:#C5C5C5; margin-top:20px; margin-bottom:10px;">
                                            </div>
                                            <div class="dropdown-header"
                                                style="padding-left:0px; color:#C5C5C5; font-size:13px; margin-bottom:5px;">
                                                Password to Confirm</div>

                                            <h6>Password*</h6>
                                            <div class="form-group">
                                                <input placeholder="" class="form-control" type="password"
                                                    name="user_pw" required>
                                            </div>

                                            <h6>Repeat Password*</h6>
                                            <div class="form-group">
                                                <input placeholder="" class="form-control" type="password"
                                                    name="user_pw_ck" required>
                                            </div>

                                            <div id="pwsame"></div>
                                            <div class="row form-ro"
                                                style="margin-left:1px; padding-top:10px; float:right; padding-right:12px;">
                                                <button class="btn btn-primary">Edit</button>
                                            </div>


                                        </form>
                                    </div>


                                </div>
                                <!-- Card Body -->
                            </div>
                        </div>
                        <!-- Pie Chart -->

                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/script-main.js"></script>
    </script>
</body>

</html>