<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">

    <div class="sidebar-brand-icon">
      <p><img src="/img/logo_front.png" height="70" style="margin-top:15px" /></p>
    </div>
    <div class="sidebar-brand-text">
      <p><img src="/img/logo_back.png" height="70" style="margin-top:15px" /></p>
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Course Information
  </div>

  <!-- Nav Item - Admission Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-list-ul"></i>
      <span>Admission</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <!--h6 class="collapse-header">Custom Components:</h6>-->
        <a class="collapse-item" href="/admission">Admission</a>
        <a class="collapse-item" href="/alumni">Alumni Comment</a>
        <a class="collapse-item" href="/FAQ">FAQ</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Curriculum Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fas fa-chalkboard"></i>
      <span>Curriculum</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/courseBasic">Basic Course</a>
        <a class="collapse-item" href="/courseAdvanced">Advanced Course</a>
        <a class="collapse-item" href="/courseSpecial">Special Lecture</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    More About Us
  </div>

  <!-- Nav Item - News Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-newspaper"></i>
      <span>News</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/news">News</a>
        <a class="collapse-item" href="/specialActivity">Special Activities</a>
        <div class="collapse-divider"></div>
      </div>
    </div>
  </li>

  <!-- Nav Item - About Us -->
  <li class="nav-item">
    <a class="nav-link" href="/aboutUs">
      <i class="fas fa-info-circle"></i>
      <span>About Us</span></a>
  </li>

  <!-- Nav Item - Contact -->
  <li class="nav-item">
    <a class="nav-link" href="/contact">
      <i class="fas fa-phone-square-alt"></i>
      <span>Contact</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Heading -->
  <div class="sidebar-heading">
    Register
  </div>

  <!-- Nav Item - Register Form -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRegister" aria-expanded="true"
      aria-controls="collapseRegister">
      <i class="fas fa-chalkboard"></i>
      <span>Register Course</span>
    </a>
    <div id="collapseRegister" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/registCourse">Register Form</a>
        <a class="collapse-item" href="/registeredCourses">Registered Courses</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Heading -->
  <div class="sidebar-heading">
    Search
  </div>

  <!-- Nav Item - Search -->
  <li class="nav-item">
    <a class="nav-link" href="/search">
      <i class="fas fa-fw fa-search"></i>
      <span>Search</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->